@inject ISyncLocalStorageService _localStorage
@inject ICartService _cartService

@implements IDisposable

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCartItemsCount()</span>
</a>

@code {
    protected override void OnInitialized()
    {
        _cartService.ItemsChanged += StateHasChanged;
    }

    private int GetCartItemsCount()
    {
        return _localStorage.GetItem<int>("cartItemsCount");
    }

    public void Dispose()
    {
        _cartService.ItemsChanged -= StateHasChanged;
    }
}
